In [2]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
import datetime

In [3]:
final_train_users_path = '../../Data/final_train_users.csv'
final_train_users = pd.read_csv(final_train_users_path)
final_train_users.head()

,Unnamed: 0,index,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,0,137021,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,google,omg,Web,Windows Desktop,Chrome,other
1,1,137022,yo8nz8bqcq,2014-01-01,20140101001558,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NDF
2,2,137023,4grx6yxeby,2014-01-01,20140101001639,NaN,-unknown-,NaN,basic,0,en,sem-brand,google,omg,Web,Windows Desktop,Firefox,NDF
3,3,137024,ncf87guaf0,2014-01-01,20140101002146,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
4,4,137025,4rvqpxoh3h,2014-01-01,20140101002619,2014-01-02,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,GB

In [4]:
sessions_path = '../../Data/sessions.csv'
sessions = pd.read_csv(sessions_path)
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

Make a classifier that only classifies between country destination and no country destination based on the difference in days between date account created and July 2014 (Because this was the date that showed the sharpest dropoff according to Arvind's graph

In [105]:
final_sessions = sessions[sessions['user_id'].isin(final_train_users['id'])]
users_sesh = final_sessions[final_sessions['action'] == 'header_userpic']['user_id']

dfact = final_train_users[final_train_users['id'].isin(users_sesh)]
dfnonact = final_train_users[~final_train_users['id'].isin(users_sesh)]

In [106]:
a = np.array(dfact['country_destination'] == 'NDF')
b = np.array(dfnonact['country_destination'] == 'NDF')

X = np.array([1.0]*len(dfact) + [0.0]*len(dfnonact))
labels = np.concatenate((a,b))

X = X[:, np.newaxis]

In [28]:
train = train_users[['date_account_created','country_destination']].dropna()

In [29]:
train.head()

  date_account_created country_destination
0           2010-06-28                 NDF
1           2011-05-25                 NDF
2           2010-09-28                  US
3           2011-12-05               other
4           2010-09-14                  US

In [42]:
#Function to get the number of days between account created date and Baseline date July 2014
def basedate(d1):
    date_format = "%Y-%m-%d"
    d2 = '2014-7-1'
    a = datetime.datetime.strptime(d1, date_format)
    b = datetime.datetime.strptime(d2, date_format)
    delta = b - a
    
    return delta.days

In [45]:
#Shuffle Training Set
trainsh = shuffle(train,random_state = 42).reset_index()

#Split into Train and Validation
Xtrain = np.array(trainsh['date_account_created'][:170000].apply(basedate))
ytrain = trainsh['country_destination'][:170000] != 'NDF'

Xval = np.array(trainsh['date_account_created'][170000:].apply(basedate))
yval = trainsh['country_destination'][170000:] != 'NDF'

Xtrain = Xtrain[:, np.newaxis]
Xval = Xval[:, np.newaxis]

In [44]:
from sklearn.model_selection import KFold, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, make_scorer
from scipy.stats import randint as sp_randint

In [101]:
kf = KFold(n_splits=5,shuffle=True, random_state=42)

In [117]:
param_dist = {"max_depth": [3, None],
              "bootstrap": [True, False],
              "criterion": ["gini", "entropy"]}

# run randomized search
n_iter_search = 8
ftwo_scorer = make_scorer(f1_score)
random_search = RandomizedSearchCV(clf, param_distributions=param_dist,
                                   n_iter=n_iter_search,scoring = ftwo_scorer)

In [124]:
score = []
for train_index, val_index in kf.split(X):
    X_train, X_val = X[train_index], X[val_index]
    y_train, y_val = labels[train_index], labels[val_index]
    
    random_search.fit(X_train, y_train)
    rs = random_search.best_params_
    clf = RandomForestClassifier(bootstrap=rs['bootstrap'],criterion=rs['criterion'],max_depth=rs['max_depth'])
    clf.fit(X_train,y_train)
    
    predictions = clf.predict(X_val)
    f = accuracy_score(predictions,y_val)
    score.append(f)

In [125]:
score

[0.61261261261261257,
 0.61362866626024526,
 0.6102418207681366,
 0.60638081690713275,
 0.60807423965318708]

In [98]:
1.0*sum(y_val) / len(y_val)

0.6111224005960848